<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<div class="small-12 text-center columns">
	<h2>{{course.name}}</h2>
	<!-- <ul class="no-bullet">
	<li ng-repeat="host in course.hosts">{{host.name}}</li>
	</ul> -->

	<p>{{course.description}}</p>

	<div class="row">
		<div class="small-12 medium-6 columns text-center" ng-repeat="classroom in course.classes">
			<article class="artee-index-post post tag-other tag-video shuffle-item filtered" ng-show="classroom.available">
				<div class="artee-index-post-container">
					<header class="artee-index-post-header">
						<div class="artee-index-post-meta"><i class="fa fa-calendar"></i> <time datetime="2014-10-18">{{classroom.startdate | date: 'MMM d'}} - {{classroom.enddate | date: 'MMM d'}}</time></div>
						<h3 class="artee-index-post-title">{{classroom.name}}</h3>
					</header>

					<section class="artee-index-post-excerpt">
						<div class="artee-index-author">
							<!-- <img src="/content/images/2014/10/25.jpg" class="artee-index-author-image" alt="Ava Johnson"> --> 
							<div ng-repeat="host in course.hosts">{{host.name}}</div>
						</div>
						<hr>
						<button ng-click="register(classroom._id)" data="{{classroom._id}}">join</button>
						<button ng-click="getParticipants(classroom._id)" data="{{classroom._id}}" data-reveal-id="myModal">participants</button>
					</section>
				</div>
			</article>
		</div>
	</div>
</div>

<div id="participantsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Participant names</h2>
  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <ul id="participantsList"></ul>
</div>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/course/course.css">