<nav>
    <div class="nav-wrapper">
        <a href="#/home" class="brand-logo">AC University</a>
        <a data-activates="mobile-demo" class="sidebar-collapse button-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only black "><i class="material-icons">menu</i></a>
        <div id="test"></div>
        <div role="navigation">
            <ul class="right hide-on-med-and-down">
                <li class="bold" ng-repeat="item in navItems" ng-show="item.display" ><a href="{{item.link}}" class="waves-effect waves-cyan allcourses">{{item.name}}
                </a></li>

                <li class="bold" ng-show="isLoggedIn"><a ng-click="logout()" class="waves-effect waves-cyan">log out</a></li>
                <li class="bold" ng-show="!isLoggedIn"><a ng-click="login()" class="waves-effect waves-cyan">log in</a></li>
            </ul>
        </div>
        <div role="navigation">
            <ul class="side-nav" id="mobile-demo">
                <li class="bold" ng-repeat="item in navItems" ng-show="item.display"><a href="{{item.link}}" class="waves-effect waves-cyan allcourses">{{item.name}}</a></li>
                <li class="bold" ng-show="isLoggedIn"><a ng-click="logout()" class="waves-effect waves-cyan">log out</a></li>
                <li class="bold" ng-show="!isLoggedIn"><a ng-click="login()" class="waves-effect waves-cyan">log in</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
$(".button-collapse").sideNav();
</script>

