<toaster-container></toaster-container>
<div class="small-12 columns">
	<ul id="course-list" class="no-bullet" style="padding-left: 0;
    list-style-type: none;">
		<li class="course-item" ng-repeat="course in courses">
			<article class="animated-post summer-index-post post row fadeInDown" ng-show="course.available">
		        <div class="small-12 medium-3 large-2 columns datetime">
		            <span class="summer-post-meta">
		                <time datetime="2014-10-18">
		                	
		                    <span class="day">
		                        {{course.classes[0].startdate | date: 'd'}}
		                    </span>
		                    <span class="month-year">
		                        {{course.classes[0].startdate | date: 'MMM yyyy'}}
		                    </span>
		                    <span class="label alert" ng-show="{{course.isFull}}">no more spots</span>
		                </time>
		            </span>
		        </div>
		        <div class="small-12 medium-9 large-10 columns">
		            <header class="summer-post-header">
		                <h3 class="summer-post-title">
		                    <a href="#/course/{{course._id}}">
		                        {{course.name}}
		                    </a>
		                </h3>
		            </header>
		            <section class="summer-post-excerpt">
		                <p>{{course.description}}</p>
		            </section>
		            <div class="summer-index-post-author">
		                <!-- <img class="summer-index-post-author-thumb" src="/content/images/2014/10/25.jpg" alt="Author image"> -->
		                <a>by <span ng-repeat="host in course.hosts">{{host.name}}{{$last ? '' : ' and '}}</span></a>  
		            </div>
		            <a href="#/course/{{course._id}}" class="summer-post-read-more">Read more</a>
		        </div>
		    </article>

		</li>
	</div>
</div>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/home/home.css">