<div class="row">
    <form id="commentsform" class="col s12" ng-submit="addComment()">
        <h4>{{comments.length}} Comments</h4>
        <div id="formcontent" class="row">
            <div class="input-field col s12">
                <textarea id="commentarea" class="materialize-textarea" length="360" ng-model="comment.text" placeholder="write your comment here"></textarea>
                <button class="btn waves-effect waves-light black" type="submit" name="action">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="progress">
    <div class="indeterminate"></div>
</div>
<ul class="collection comments">
    <li class="collection-item avatar" ng-repeat="comment in comments">
        <i class="material-icons circle red" ng-if="!comment.user.google">assignment_ind</i>
        <img ng-src="{{comment.user.google.picture}}" alt="" class="circle" ng-if="comment.user.google.picture">
        <p class="grey-text"><i class="fa fa-calendar"></i>
            <time datetime="2014-10-18">{{comment.date | date: 'medium'}} </time>
            <br>
            <p>{{comment.comment}}</p>
        </p>
    </li>
</ul>