/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#alertify nav {
  background-color: white;
  box-shadow: none;
}

.nav-wrapper {

}

.nav-wrapper ul li a {
  /*color:  black;*/
}

nav a {
  margin-left: 10px;
}

.nav-wrapper a.brand-logo {
  /*color: black;*/
  margin-left: 10px;
}


.nav-wrapper a.mobile-demo i {
  line-height: 40px;
  font-size: 2.4rem;
}

.nav-wrapper a.button-collapse {
  /*color: black;*/
  margin-left: 8px;
  height: 39px;
  top: 10px;
}

.nav-wrapper a.button-collapse i {
  font-size: 2.4rem;
  height: 52px;
  line-height: 39px;
}

