<!-- <div class="row">
    <div class="small-12 medium-6 columns">
        <p>Already registered?</p>
        <form ng-submit="login()" novalidate>
            <input type="text" ng-model="registered.email" placeholder="your avenuecode email">
            <input type="password" ng-model="registered.password" placeholder="your password">
            <input type="submit" value="Login" class="button" />
        </form>
    </div>
    <div class="small-12 medium-6 columns">
        <p>not registered yet?</p>
        <form ng-submit="register()" novalidate>
            <input type="text" ng-model="user.name" placeholder="your name">
            <input type="text" ng-model="user.email" placeholder="your avenuecode email">
            <input type="password" ng-model="user.password" placeholder="your password">
            <input type="submit" value="Register" class="button" />
        </form>
    </div>
</div> -->
<div class="row">
<div class="col s12 m6">
    <form class="login-form" ng-submit="login()" novalidate>
        <div class="row">
            <div class="input-field col s12 center">
            	<h4>Already registered?</h4>
                <!-- <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login"> -->
                <p class="center login-form-text">Login</p>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="email" type="email" ng-model="registered.email">
                <label for="email" class="center-align">Avenue Code Email</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password" type="password" ng-model="registered.password">
                <label for="password">Password</label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="input-field col s12 m12 l12  login-text">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
        </div> -->
        <div class="row">
            <div class="input-field col s12">
                <input type="submit" value="Login" class="btn black waves-effect waves-light col s12" />
                <!-- <a href="index.html" class="btn waves-effect waves-light col s12">Login</a> -->
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a ng-click="openModal()" class="waves-effect waves-light modal-trigger">Forgot my password...</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="page-register.html">Register Now!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
            </div>
        </div> -->
    </form>
</div>

<!-- Modal Structure -->
<div id="remembermeModal" class="modal modal-fixed-footer">
    <div class="modal-content center-align">
      <h5>What is your Avenue Code email</h5>

      <form ng-submit="rememberme()" novalidate>
        <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="rememberemail" type="email" ng-model="rememberme.email">
            <label for="rememberemail" class="center-align">Avenue Code Email</label>
            <input type="submit" value="submit" class="modal-action modal-close btn black waves-effect waves-light">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- <a ng-click="rememberme()" ng-model="rememberme.email" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a> -->
      <!-- <input type="submit" value="submit" class="modal-action modal-close waves-effect waves-green btn-flat"> -->
    </div>
</div>

<div class="col s12 m6">
    <form class="login-form" ng-submit="register()" novalidate>
        <div class="row">
            <div class="input-field col s12 center">
                <h4>Register</h4>
                <p class="center">Join our community now !</p>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="username" type="text" ng-model="user.name">
                <label for="username" class="center-align">Your Full Name</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id="email" type="email" ng-model="user.email">
                <label for="email" class="center-align">Your Avenue Code Email</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password" type="password" ng-model="user.password">
                <label for="password">Your password</label>
            </div>
        </div>
        <!-- <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password-again" type="password">
                <label for="password-again">Password again</label>
            </div>
        </div> -->
        <div class="row">
            <div class="input-field col s12">
            	<input type="submit" value="Register Now" class="btn black waves-effect waves-light col s12" />
                <!-- <a href="index.html" class="btn waves-effect waves-light col s12">Register Now</a> -->
            </div>
            <!-- <div class="input-field col s12">
                <p class="margin center medium-small sign-up">Already have an account? <a href="page-login.html">Login</a></p>
            </div> -->
        </div>
    </form>
</div>
</div>
<link rel="stylesheet" href="/app/login/login.css">
