<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<div class="small-12 columns text-center" style="margin-top: 20px;">
	<p>Your courses... </p>
	<ul class="no-bullet">
		<li ng-repeat="classroom in user.classrooms" class="small-12 medium-6 columns text-center">
			<article class="artee-index-post post tag-other tag-video shuffle-item filtered">
				<div class="artee-index-post-container">
					<header class="artee-index-post-header">
						<div class="artee-index-post-meta"><i class="fa fa-calendar"></i> <time datetime="2014-10-18">{{classroom.startdate | date: 'MMM d'}} - {{classroom.enddate | date: 'MMM d'}}</time></div>
						<h3 class="artee-index-post-title">{{classroom.name}}</h3>
					</header>

					<section class="artee-index-post-excerpt">
						<p>{{classroom.course[0].name}}</p>
							<div class="artee-index-author">
								<!-- <img src="/content/images/2014/10/25.jpg" class="artee-index-author-image" alt="Ava Johnson"> --> 
								<div ng-repeat="host in course.hosts">{{host.name}}</div>
							</div>
							<hr>
							<button ng-click="quit(classroom._id)" data="{{classroom._id}}">quit</button>
					</section>
				</div>
			</article>
		</li>
	</ul>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/myaccount/myaccount.css">