<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
<div class="container">

	<div class="progress">
      <div class="indeterminate"></div>
  	</div>

    <!-- <div class="card light-blue">
      <div class="card-content white-text">
        <span class="card-title">{{user.name}}</span>
        <p>{{user.email}}</p>
      </div>                  
    </div> -->
    <p><h5>My courses</h5></p>

	<p ng-hide="user.classrooms.length">You are not subscribed to any course at the moment... </p>

    <ul class="collapsible" data-collapsible="accordion" ng-show="user.classrooms.length">
        <li ng-repeat="classroom in user.classrooms"> 
            <div class="collapsible-header"><i class="material-icons">info_outline</i>{{classroom.course[0].name}}</div>
            <div class="collapsible-body">
            	<div class="row">
            		<div class="courseinfo">
            			<span><i class="tiny mdi-action-class"></i>
            			Classroom: {{classroom.name}}</span>
            			<div><i class="tiny mdi-action-event"></i>
            			{{classroom.startdate | date: 'MMM d'}} - {{classroom.enddate | date: 'MMM d'}}</div>
            		</div>

            		<div><a class="waves-effect waves-light btn" ng-click="quit(classroom._id)" data="{{classroom._id}}">quit</a></div>
            		
            	</div>
            </div>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="/app/myaccount/myaccount.css">