<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<div class="container">

	<div class="row">
		<div class="col s12 m6">
			<h2>{{course.name}}</h2>

			<p>{{course.description}}</p>
			
			<div ng-show="course.content.length">
				<p>
					<h5>Content</h5>
					<ul class="collection">
						<li class="collection-item" ng-repeat="content in course.content">
							<div><b>{{content.title}}</b></div>
							<div>{{content.description}}</div>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="col s12 m6" style="margin-top: 20px;">
		    <div class="col s12" ng-repeat="classroom in course.classes">
		      <div class="card">
		        <div class="card-content">
		          <span class="badge" ng-show="{{classroom.isFull}}">
		        	<i class="material-icons circle red">not_interested</i>
		        	<div>no more spots</div>
		          </span>
		          <div class="grey-text"><i class="fa fa-calendar"></i> <time> {{classroom.startdate | date: 'MMM d'}} - {{classroom.enddate | date: 'MMM d'}}</time></div>
		          <div class="grey-text"><i class="tiny material-icons">schedule</i><time> {{classroom.startdate | date: 'shortTime'}} - {{classroom.enddate | date: 'shortTime'}} </time></i></div>
		          <div class="grey-text location"><i class="tiny material-icons">location_on</i> 454 Cristovao Colombo Avenue - suite 203</div>
		          <span class="card-title grey-text text-darken-4">{{classroom.name}}</span>
		          <div ng-repeat="host in course.hosts">{{host.name}}</div>
		        </div>
		        <div class="card-action">
		          <a ng-click="register(classroom._id)" data="{{classroom._id}}">join</a>
		          <a ng-click="getParticipants(classroom._id)" data="{{classroom._id}}" class="waves-effect waves-light modal-trigger">participants</a>
		        </div>
		      </div>
		    </div>
		</div>
	</div>

	<div ng-include="'app/comment/comment.html'" ng-controller="CommentCtrl"></div>
</div>

<!-- Modal Structure -->
<div id="participantsModal" class="modal modal-fixed-footer">
	<div class="modal-content">
	  <h4>Participant names</h4>
	  <ul id="participantsList"></ul>
	</div>
	<div class="modal-footer">
	  <a class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
	</div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/app/course/course.css">